{{log "Chroniques Oubliées | hbs | heal-card" this}}
<div class="co chat-card roll-card heal-card" data-actor-id="{{speaker.actor}}">
  <header class="card-header flexcol">
    <div class="type-card"><label><i class="fas fa-first-aid" data-tooltip="{{localize 'CO.label.long.heal'}}" data-tooltip-direction="LEFT"></i></label></div>
    <div class="action-name" data-tooltip="{{flavor}}" data-tooltip-direction="LEFT">{{flavor}}</div>
  </header>

  <div class="card-content">
    <section class="targets"></section>
    <section class="result">
      <div class="form-group total-result">
        <div data-tooltip="{{localize 'CO.dialogs.healTooltip'}}" data-tooltip-direction="UP">{{total}}<label> {{localize "CO.dialogs.healRecovered"}}</label></div>
      </div>
    </section>
    <section class="result-sentence"></section>
  </div>

  <footer class="card-footer">
    <div class="dice-roll" data-action="expandRoll">
      <div class="dice-result">
        <div class="dice-formula">{{localize "CO.ui.formula"}} : {{formula}}</div>
        {{{tooltip}}}
      </div>
    </div>
  </footer>
</div>