{{!log "healing-card" this}}
{{log "Chroniques Oubliées | hbs | rest-card" this}}
<div class="co chat-card roll-card rest-card" data-actor-id="{{actorId}}">
  <header class="card-header flexcol">
    <div class="type-card"><label><i class="fa-solid fa-campground"></i></label></div>
    <div class="action-name" data-tooltip="{{title}}" data-tooltip-direction="LEFT">{{title}}</div>
  </header>
  
  <div class="card-content">
    <section class="result">
      <div class="form-group total-result">
        <div>{{total}} <label>PV</label></div>
      </div>
      <div class="flexrow heal-message">
        <div class="flex1 no-wrap">
          <h3 {{#if hasLabelToolTip}}data-tooltip="{{labelTooltip}}"{{/if}}><strong>{{label}}</strong></h3>
        </div>
      </div>
    </section>

    <footer class="card-footer">
      <div class="dice-roll" data-action="expandRoll">
        <div class="dice-result">
          <div class="dice-formula">{{localize "CO.ui.formula"}} : {{formula}}</div>
          {{{toolTip.string}}}
        </div>
      </div>
    </footer>
</div>